/* Reset */

body, h1, h2, h3, h4, p, ul {
	margin: 0px;
	padding: 0px;
}

body {
	min-height: 100vh;
}

body, footer {
	font-family: Georgia, serif;
	color: #252525;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.clear:after, .clear:before {
	content: "";
	display: table;
	clear: both;
}